In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#for 100% jupyter notebook cell width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
#pandas DataFrame column and row display limits
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)
pd.options.display.float_format = "{:.2f}".format

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session
DIR_PATH = '/kaggle/input/home-credit-default-risk/'

/kaggle/input/home-credit-default-risk/sample_submission.csv
/kaggle/input/home-credit-default-risk/bureau_balance.csv
/kaggle/input/home-credit-default-risk/POS_CASH_balance.csv
/kaggle/input/home-credit-default-risk/application_train.csv
/kaggle/input/home-credit-default-risk/HomeCredit_columns_description.csv
/kaggle/input/home-credit-default-risk/application_test.csv
/kaggle/input/home-credit-default-risk/previous_application.csv
/kaggle/input/home-credit-default-risk/credit_card_balance.csv
/kaggle/input/home-credit-default-risk/installments_payments.csv
/kaggle/input/home-credit-default-risk/bureau.csv

Some helpful utility functions

In [2]:
def read_input_file(directory_path = DIR_PATH, fileName= 'application_train.csv', displayHead = True, displayInfo = True, displayStats = True, verbose=True):
    '''
    Function to load the given input table
    
    Input:
        directory_path: str, default = DIR_PATH
            Path of directory in which table is stored
        fileName: str, default = application_train.csv
            Name of csv file containing the table
        displayHead: bool, default = True
            Display head for pandas dataframe
        displayInfo: bool, default = True
            Display info for pandas dataframe
        displayStats: bool, default = True
            Describe function for pandas dataframe
        verbose: bool, default = True
            Whether to keep verbosity or not
    '''
        
    df = pd.read_csv(directory_path + fileName)
    if verbose:
        print("Loaded {}... Dataframe contains {}".format(fileName, len(df)))
    if displayHead:
        display(df.head())
    if displayInfo:
        display(df.info(verbose=True, show_counts = True))
    if displayStats:
        display(df.describe().T)
    return df

In [3]:
_ = read_input_file()

Loaded application_train.csv... Dataframe contains 307511

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.00,406597.50,24700.50,351000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.02,-9461,-637,-3648.00,-2120,NaN,1,1,0,1,1,0,Laborers,1.00,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.08,0.26,0.14,0.02,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.63,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,reg oper account,block of flats,0.01,"Stone, brick",No,2.00,2.00,2.00,2.00,-1134.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
1,100003,0,Cash loans,F,N,N,0,270000.00,1293502.50,35698.50,1129500.00,Family,State servant,Higher education,Married,House / apartment,0.00,-16765,-1188,-1186.00,-291,NaN,1,1,0,1,1,0,Core staff,2.00,1,1,MONDAY,11,0,0,0,0,0,0,School,0.31,0.62,NaN,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.05,0.00,0.01,0.09,0.05,0.99,0.80,0.05,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.00,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.01,reg oper account,block of flats,0.07,Block,No,1.00,0.00,1.00,0.00,-828.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
2,100004,0,Revolving loans,M,Y,Y,0,67500.00,135000.00,6750.00,135000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.01,-19046,-225,-4260.00,-2531,26.00,1,1,1,1,1,0,Laborers,1.00,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.56,0.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,-815.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
3,100006,0,Cash loans,F,N,Y,0,135000.00,312682.50,29686.50,297000.00,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.01,-19005,-3039,-9833.00,-2437,NaN,1,1,0,1,0,0,Laborers,2.00,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,0.00,2.00,0.00,-617.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.00,513000.00,21865.50,513000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.03,-19932,-3038,-4311.00,-3458,NaN,1,1,0,1,0,0,Core staff,1.00,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,-1106.00,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Non-Null Count   Dtype
---   ------                        --------------   -----
 0    SK_ID_CURR                    307511 non-null  int64
 1    TARGET                        307511 non-null  int64
 2    NAME_CONTRACT_TYPE            307511 non-null  object
 3    CODE_GENDER                   307511 non-null  object
 4    FLAG_OWN_CAR                  307511 non-null  object
 5    FLAG_OWN_REALTY               307511 non-null  object
 6    CNT_CHILDREN                  307511 non-null  int64
 7    AMT_INCOME_TOTAL              307511 non-null  float64
 8    AMT_CREDIT                    307511 non-null  float64
 9    AMT_ANNUITY                   307499 non-null  float64
 10   AMT_GOODS_PRICE               307233 non-null  float64
 11   NAME_TYPE_SUITE               306219 non-null  object
 12   NAME_INCOME_TYPE              307511 non-null  object
 13   NAME_EDUCATION_TYPE           307511 non-null  object
 14   NAME_FAMILY_STATUS            307511 non-null  object
 15   NAME_HOUSING_TYPE             307511 non-null  object
 16   REGION_POPULATION_RELATIVE    307511 non-null  float64
 17   DAYS_BIRTH                    307511 non-null  int64
 18   DAYS_EMPLOYED                 307511 non-null  int64
 19   DAYS_REGISTRATION             307511 non-null  float64
 20   DAYS_ID_PUBLISH               307511 non-null  int64
 21   OWN_CAR_AGE                   104582 non-null  float64
 22   FLAG_MOBIL                    307511 non-null  int64
 23   FLAG_EMP_PHONE                307511 non-null  int64
 24   FLAG_WORK_PHONE               307511 non-null  int64
 25   FLAG_CONT_MOBILE              307511 non-null  int64
 26   FLAG_PHONE                    307511 non-null  int64
 27   FLAG_EMAIL                    307511 non-null  int64
 28   OCCUPATION_TYPE               211120 non-null  object
 29   CNT_FAM_MEMBERS               307509 non-null  float64
 30   REGION_RATING_CLIENT          307511 non-null  int64
 31   REGION_RATING_CLIENT_W_CITY   307511 non-null  int64
 32   WEEKDAY_APPR_PROCESS_START    307511 non-null  object
 33   HOUR_APPR_PROCESS_START       307511 non-null  int64
 34   REG_REGION_NOT_LIVE_REGION    307511 non-null  int64
 35   REG_REGION_NOT_WORK_REGION    307511 non-null  int64
 36   LIVE_REGION_NOT_WORK_REGION   307511 non-null  int64
 37   REG_CITY_NOT_LIVE_CITY        307511 non-null  int64
 38   REG_CITY_NOT_WORK_CITY        307511 non-null  int64
 39   LIVE_CITY_NOT_WORK_CITY       307511 non-null  int64
 40   ORGANIZATION_TYPE             307511 non-null  object
 41   EXT_SOURCE_1                  134133 non-null  float64
 42   EXT_SOURCE_2                  306851 non-null  float64
 43   EXT_SOURCE_3                  246546 non-null  float64
 44   APARTMENTS_AVG                151450 non-null  float64
 45   BASEMENTAREA_AVG              127568 non-null  float64
 46   YEARS_BEGINEXPLUATATION_AVG   157504 non-null  float64
 47   YEARS_BUILD_AVG               103023 non-null  float64
 48   COMMONAREA_AVG                92646 non-null   float64
 49   ELEVATORS_AVG                 143620 non-null  float64
 50   ENTRANCES_AVG                 152683 non-null  float64
 51   FLOORSMAX_AVG                 154491 non-null  float64
 52   FLOORSMIN_AVG                 98869 non-null   float64
 53   LANDAREA_AVG                  124921 non-null  float64
 54   LIVINGAPARTMENTS_AVG          97312 non-null   float64
 55   LIVINGAREA_AVG                153161 non-null  float64
 56   NONLIVINGAPARTMENTS_AVG       93997 non-null   float64
 57   NONLIVINGAREA_AVG             137829 non-null  float64
 58   APARTMENTS_MODE               151450 non-null  float64
 59   BASEMENTAREA_MODE             127568 non-null  float64
 60   YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 61   YEARS_BUILD_MODE              103023 non-null  float64
 62   COMMONAREA_MODE               92646 non-null   float64
 63   ELEVATORS_MODE                143620 non-null  float64
 64   ENTRANCES_MODE                152683 non-null  float64
 65   FLOORSMAX_MODE                154491 non-null  float64
 66   FLOORSMIN_MODE                98869 non-null   float64
 67   LANDAREA_MODE                 124921 non-null  float64
 68   LIVINGAPARTMENTS_MODE         97312 non-null   float64
 69   LIVINGAREA_MODE               153161 non-null  float64
 70   NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 71   NONLIVINGAREA_MODE            137829 non-null  float64
 72   APARTMENTS_MEDI               151450 non-null  float64
 73   BASEMENTAREA_MEDI             127568 non-null  float64
 74   YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 75   YEARS_BUILD_MEDI              103023 non-null  float64
 76   COMMONAREA_MEDI               92646 non-null   float64
 77   ELEVATORS_MEDI                143620 non-null  float64
 78   ENTRANCES_MEDI                152683 non-null  float64
 79   FLOORSMAX_MEDI                154491 non-null  float64
 80   FLOORSMIN_MEDI                98869 non-null   float64
 81   LANDAREA_MEDI                 124921 non-null  float64
 82   LIVINGAPARTMENTS_MEDI         97312 non-null   float64
 83   LIVINGAREA_MEDI               153161 non-null  float64
 84   NONLIVINGAPARTMENTS_MEDI      93997 non-null   float64
 85   NONLIVINGAREA_MEDI            137829 non-null  float64
 86   FONDKAPREMONT_MODE            97216 non-null   object
 87   HOUSETYPE_MODE                153214 non-null  object
 88   TOTALAREA_MODE                159080 non-null  float64
 89   WALLSMATERIAL_MODE            151170 non-null  object
 90   EMERGENCYSTATE_MODE           161756 non-null  object
 91   OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 95   DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 96   FLAG_DOCUMENT_2               307511 non-null  int64
 97   FLAG_DOCUMENT_3               307511 non-null  int64
 98   FLAG_DOCUMENT_4               307511 non-null  int64
 99   FLAG_DOCUMENT_5               307511 non-null  int64
 100  FLAG_DOCUMENT_6               307511 non-null  int64
 101  FLAG_DOCUMENT_7               307511 non-null  int64
 102  FLAG_DOCUMENT_8               307511 non-null  int64
 103  FLAG_DOCUMENT_9               307511 non-null  int64
 104  FLAG_DOCUMENT_10              307511 non-null  int64
 105  FLAG_DOCUMENT_11              307511 non-null  int64
 106  FLAG_DOCUMENT_12              307511 non-null  int64
 107  FLAG_DOCUMENT_13              307511 non-null  int64
 108  FLAG_DOCUMENT_14              307511 non-null  int64
 109  FLAG_DOCUMENT_15              307511 non-null  int64
 110  FLAG_DOCUMENT_16              307511 non-null  int64
 111  FLAG_DOCUMENT_17              307511 non-null  int64
 112  FLAG_DOCUMENT_18              307511 non-null  int64
 113  FLAG_DOCUMENT_19              307511 non-null  int64
 114  FLAG_DOCUMENT_20              307511 non-null  int64
 115  FLAG_DOCUMENT_21              307511 non-null  int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 119  AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

None

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,307511.00,278180.52,102790.18,100002.00,189145.50,278202.00,367142.50,456255.00
TARGET,307511.00,0.08,0.27,0.00,0.00,0.00,0.00,1.00
CNT_CHILDREN,307511.00,0.42,0.72,0.00,0.00,0.00,1.00,19.00
AMT_INCOME_TOTAL,307511.00,168797.92,237123.15,25650.00,112500.00,147150.00,202500.00,117000000.00
AMT_CREDIT,307511.00,599026.00,402490.78,45000.00,270000.00,513531.00,808650.00,4050000.00
AMT_ANNUITY,307499.00,27108.57,14493.74,1615.50,16524.00,24903.00,34596.00,258025.50
AMT_GOODS_PRICE,307233.00,538396.21,369446.46,40500.00,238500.00,450000.00,679500.00,4050000.00
REGION_POPULATION_RELATIVE,307511.00,0.02,0.01,0.00,0.01,0.02,0.03,0.07
DAYS_BIRTH,307511.00,-16037.00,4363.99,-25229.00,-19682.00,-15750.00,-12413.00,-7489.00
DAYS_EMPLOYED,307511.00,63815.05,141275.77,-17912.00,-2760.00,-1213.00,-289.00,365243.00
DAYS_REGISTRATION,307511.00,-4986.12,3522.89,-24672.00,-7479.50,-4504.00,-2010.00,0.00
DAYS_ID_PUBLISH,307511.00,-2994.20,1509.45,-7197.00,-4299.00,-3254.00,-1720.00,0.00
OWN_CAR_AGE,104582.00,12.06,11.94,0.00,5.00,9.00,15.00,91.00
FLAG_MOBIL,307511.00,1.00,0.00,0.00,1.00,1.00,1.00,1.00
FLAG_EMP_PHONE,307511.00,0.82,0.38,0.00,1.00,1.00,1.00,1.00
FLAG_WORK_PHONE,307511.00,0.20,0.40,0.00,0.00,0.00,0.00,1.00
FLAG_CONT_MOBILE,307511.00,1.00,0.04,0.00,1.00,1.00,1.00,1.00
FLAG_PHONE,307511.00,0.28,0.45,0.00,0.00,0.00,1.00,1.00
FLAG_EMAIL,307511.00,0.06,0.23,0.00,0.00,0.00,0.00,1.00
CNT_FAM_MEMBERS,307509.00,2.15,0.91,1.00,2.00,2.00,3.00,20.00
REGION_RATING_CLIENT,307511.00,2.05,0.51,1.00,2.00,2.00,2.00,3.00
REGION_RATING_CLIENT_W_CITY,307511.00,2.03,0.50,1.00,2.00,2.00,2.00,3.00
HOUR_APPR_PROCESS_START,307511.00,12.06,3.27,0.00,10.00,12.00,14.00,23.00
REG_REGION_NOT_LIVE_REGION,307511.00,0.02,0.12,0.00,0.00,0.00,0.00,1.00
REG_REGION_NOT_WORK_REGION,307511.00,0.05,0.22,0.00,0.00,0.00,0.00,1.00
LIVE_REGION_NOT_WORK_REGION,307511.00,0.04,0.20,0.00,0.00,0.00,0.00,1.00
REG_CITY_NOT_LIVE_CITY,307511.00,0.08,0.27,0.00,0.00,0.00,0.00,1.00
REG_CITY_NOT_WORK_CITY,307511.00,0.23,0.42,0.00,0.00,0.00,0.00,1.00
LIVE_CITY_NOT_WORK_CITY,307511.00,0.18,0.38,0.00,0.00,0.00,0.00,1.00
EXT_SOURCE_1,134133.00,0.50,0.21,0.01,0.33,0.51,0.68,0.96
EXT_SOURCE_2,306851.00,0.51,0.19,0.00,0.39,0.57,0.66,0.85
EXT_SOURCE_3,246546.00,0.51,0.19,0.00,0.37,0.54,0.67,0.90
APARTMENTS_AVG,151450.00,0.12,0.11,0.00,0.06,0.09,0.15,1.00
BASEMENTAREA_AVG,127568.00,0.09,0.08,0.00,0.04,0.08,0.11,1.00
YEARS_BEGINEXPLUATATION_AVG,157504.00,0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_AVG,103023.00,0.75,0.11,0.00,0.69,0.76,0.82,1.00
COMMONAREA_AVG,92646.00,0.04,0.08,0.00,0.01,0.02,0.05,1.00
ELEVATORS_AVG,143620.00,0.08,0.13,0.00,0.00,0.00,0.12,1.00
ENTRANCES_AVG,152683.00,0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_AVG,154491.00,0.23,0.14,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_AVG,98869.00,0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_AVG,124921.00,0.07,0.08,0.00,0.02,0.05,0.09,1.00
LIVINGAPARTMENTS_AVG,97312.00,0.10,0.09,0.00,0.05,0.08,0.12,1.00
LIVINGAREA_AVG,153161.00,0.11,0.11,0.00,0.05,0.07,0.13,1.00
NONLIVINGAPARTMENTS_AVG,93997.00,0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_AVG,137829.00,0.03,0.07,0.00,0.00,0.00,0.03,1.00
APARTMENTS_MODE,151450.00,0.11,0.11,0.00,0.05,0.08,0.14,1.00
BASEMENTAREA_MODE,127568.00,0.09,0.08,0.00,0.04,0.07,0.11,1.00
YEARS_BEGINEXPLUATATION_MODE,157504.00,0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_MODE,103023.00,0.76,0.11,0.00,0.70,0.76,0.82,1.00
COMMONAREA_MODE,92646.00,0.04,0.07,0.00,0.01,0.02,0.05,1.00
ELEVATORS_MODE,143620.00,0.07,0.13,0.00,0.00,0.00,0.12,1.00
ENTRANCES_MODE,152683.00,0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_MODE,154491.00,0.22,0.14,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_MODE,98869.00,0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_MODE,124921.00,0.06,0.08,0.00,0.02,0.05,0.08,1.00
LIVINGAPARTMENTS_MODE,97312.00,0.11,0.10,0.00,0.05,0.08,0.13,1.00
LIVINGAREA_MODE,153161.00,0.11,0.11,0.00,0.04,0.07,0.13,1.00
NONLIVINGAPARTMENTS_MODE,93997.00,0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_MODE,137829.00,0.03,0.07,0.00,0.00,0.00,0.02,1.00
APARTMENTS_MEDI,151450.00,0.12,0.11,0.00,0.06,0.09,0.15,1.00
BASEMENTAREA_MEDI,127568.00,0.09,0.08,0.00,0.04,0.08,0.11,1.00
YEARS_BEGINEXPLUATATION_MEDI,157504.00,0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_MEDI,103023.00,0.76,0.11,0.00,0.69,0.76,0.83,1.00
COMMONAREA_MEDI,92646.00,0.04,0.08,0.00,0.01,0.02,0.05,1.00
ELEVATORS_MEDI,143620.00,0.08,0.13,0.00,0.00,0.00,0.12,1.00
ENTRANCES_MEDI,152683.00,0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_MEDI,154491.00,0.23,0.15,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_MEDI,98869.00,0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_MEDI,124921.00,0.07,0.08,0.00,0.02,0.05,0.09,1.00
LIVINGAPARTMENTS_MEDI,97312.00,0.10,0.09,0.00,0.05,0.08,0.12,1.00
LIVINGAREA_MEDI,153161.00,0.11,0.11,0.00,0.05,0.07,0.13,1.00
NONLIVINGAPARTMENTS_MEDI,93997.00,0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_MEDI,137829.00,0.03,0.07,0.00,0.00,0.00,0.03,1.00
TOTALAREA_MODE,159080.00,0.10,0.11,0.00,0.04,0.07,0.13,1.00
OBS_30_CNT_SOCIAL_CIRCLE,306490.00,1.42,2.40,0.00,0.00,0.00,2.00,348.00
DEF_30_CNT_SOCIAL_CIRCLE,306490.00,0.14,0.45,0.00,0.00,0.00,0.00,34.00
OBS_60_CNT_SOCIAL_CIRCLE,306490.00,1.41,2.38,0.00,0.00,0.00,2.00,344.00
DEF_60_CNT_SOCIAL_CIRCLE,306490.00,0.10,0.36,0.00,0.00,0.00,0.00,24.00
DAYS_LAST_PHONE_CHANGE,307510.00,-962.86,826.81,-4292.00,-1570.00,-757.00,-274.00,0.00
FLAG_DOCUMENT_2,307511.00,0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_3,307511.00,0.71,0.45,0.00,0.00,1.00,1.00,1.00
FLAG_DOCUMENT_4,307511.00,0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_5,307511.00,0.02,0.12,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_6,307511.00,0.09,0.28,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_7,307511.00,0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_8,307511.00,0.08,0.27,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_9,307511.00,0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_10,307511.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_11,307511.00,0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_12,307511.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_13,307511.00,0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_14,307511.00,0.00,0.05,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_15,307511.00,0.00,0.03,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_16,307511.00,0.01,0.10,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_17,307511.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_18,307511.00,0.01,0.09,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_19,307511.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_20,307511.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_21,307511.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
AMT_REQ_CREDIT_BUREAU_HOUR,265992.00,0.01,0.08,0.00,0.00,0.00,0.00,4.00
AMT_REQ_CREDIT_BUREAU_DAY,265992.00,0.01,0.11,0.00,0.00,0.00,0.00,9.00
AMT_REQ_CREDIT_BUREAU_WEEK,265992.00,0.03,0.20,0.00,0.00,0.00,0.00,8.00
AMT_REQ_CREDIT_BUREAU_MON,265992.00,0.27,0.92,0.00,0.00,0.00,0.00,27.00
AMT_REQ_CREDIT_BUREAU_QRT,265992.00,0.27,0.79,0.00,0.00,0.00,0.00,261.00
AMT_REQ_CREDIT_BUREAU_YEAR,265992.00,1.90,1.87,0.00,0.00,1.00,3.00,25.00